@page
@model LoginModel
@{
}

<div id="flow">
    <span class="flow-1"></span>
    <span class="flow-2"></span>
    <span class="flow-3"></span>
</div>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form method="post" class="box">
                        <p class="title has-text-black has-text-centered">Sign In</p>
                        
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left">
                                <input asp-for="Input.Username" placeholder="e.g. Admin" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left">
                                <input asp-for="Input.Password" type="password" placeholder="********" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button type="submit" name="name" class="button is-info is-fullwidth">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>