@model IEnumerable<ECommerceSite.Application.Cart.GetCart.Response>

@{

}
    <p class="title has-text-centered">Cart</p>
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
                <td>@product.TotalValue</td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>Sub-Total</td>
                <td><vc:cart view="Small"></vc:cart></td>
            </tr>
            <tr>
                <td></td>
                <td>Shipping</td>
                <td>???</td>
            </tr>
            <tr>
                <td></td>
                <td class="bold">Total</td>
                <td class="bold">???</td>
            </tr>
        </tfoot>
    </table>