@page
@model CustomerInformationModel
@{
}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container box">
                <div class="columns">
                    <div class="column is-6">
                        <p class="title has-text-centered">Billing Information</p>
                        <form method="post">
                            <div class="field">
                                <p class="control">
                                    <label class="label">First Name*</label>
                                    <input class="input" asp-for="CustomerInformation.FirstName" />
                                </p>
                                <span class="help is-warning" asp-validation-for="CustomerInformation.FirstName"></span>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <label class="label">Last Name*</label>
                                    <input class="input" asp-for="CustomerInformation.LastName" />
                                </p>
                                <span class="help is-warning" asp-validation-for="CustomerInformation.LastName"></span>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <label class="label">Phone Number*</label>
                                    <input class="input" asp-for="CustomerInformation.PhoneNumber" />
                                </p>
                                <span class="help is-warning" asp-validation-for="CustomerInformation.PhoneNumber"></span>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <label class="label">Email*</label>
                                    <input class="input" asp-for="CustomerInformation.Email" />
                                </p>
                                <span class="help is-warning" asp-validation-for="CustomerInformation.Email"></span>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <label class="label">Address*</label>
                                    <input class="input" asp-for="CustomerInformation.Address1" />
                                </p>
                                <span class="help is-warning" asp-validation-for="CustomerInformation.Address1"></span>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <label class="label">City*</label>
                                    <input class="input" asp-for="CustomerInformation.City" />
                                </p>
                                <span class="help is-warning" asp-validation-for="CustomerInformation.City"></span>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <label class="label">Postal Code*</label>
                                    <input class="input" asp-for="CustomerInformation.PostCode" />
                                </p>
                                <span class="help is-warning" asp-validation-for="CustomerInformation.PostCode"></span>
                            </div>
                            <div class="field has-text-centered">
                                <a asp-page="/Cart" class="button is-text">Go Back to Cart</a>
                                <button class="button is-info" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="column is-6">
                        <vc:cart view="Default"></vc:cart>
                    </div>
                </div>
            </div>
        </div>
    </section>
